version: "{branch}-build{build}"

branches:
  only:
  - master

cache:
 - "%APPDATA%\\npm"
 - "%USERPROFILE%\\.node-gyp"
 - "%USERPROFILE%\\.propel\\cache"
 - .cache
 - .git\objects

environment:
  matrix:
    - appveyor_build_worker_image: Visual Studio 2015
      nodejs_version: 8
  # disabled to reduce CI wait time:
  # - appveyor_build_worker_image: Visual Studio 2017
  #   nodejs_version: 9

clone_folder: c:\propel

clone_script:
  - ps: git config --global core.symlinks true
  - ps: git clone -q --depth=1 --branch=$env:appveyor_repo_branch https://github.com/$env:appveyor_repo_name.git $env:appveyor_build_folder
  - ps: cd $env:appveyor_build_folder
  - ps: >-
        if ($env:appveyor_pull_request_number) {
          git fetch -q --depth=1 origin +refs/pull/$env:appveyor_pull_request_number/merge:
          git checkout -q FETCH_HEAD
        }

install:
  - ps: Install-Product node $env:nodejs_version x64
  - cmd: npm install -g node-gyp ts-node typescript

before_build:
  - cmd: git submodule update --init --recursive --depth=1
  - cmd: npm rebuild puppeteer

build_script:
  - cmd: node tools\presubmit.js

test: off
