*_BASE_*
*_BACKUP_*
*_REMOTE_*
*_LOCAL_*
*.opensdf
*.orig
*.sdf
*.sln
*.suo
*.TMP
*.user
*.VC.db
*.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vspx

/*.build/
/*.dir/
/*.xcodeproj/

/.vs/
/.vscode/
/bin/
/build/
/CMakeFiles/
/CMakeScripts/
/Debug/
/dist/
/ipch/
/MinSizeRel/
/out/
/Release/
/RelWithDebInfo/
/x64/
/website/dist/
/website/docs.html
/Win32/

/CMakeCache.txt
/cmake_install.cmake
/Makefile
/package-lock.json
.cache/
