@import './normalize.scss';
@import './codemirror.scss';
//@import './syntax_dark.scss';
@import './syntax_light.scss';
@import './syntax.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

$githubGreen: #39aa56;
$small: 5px;

/* NOTE html is set to 62.5% so that all the REM measurements
throughout Skeleton are based on 10px sizing. So 1.5rem = 15px :) */
html {
  font-size: 62.5%;
}

body {
  background-color: $bodyBackground;
  color: $textColor;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'avenir next',
    avenir,
    helvetica,
    'helvetica neue',
    ubuntu,
    roboto,
    noto,
    'segoe ui',
    arial,
    sans-serif;
  font-size: 1.5em;
  line-height: 1.6;
}

body p {
  font-size: 16px;
  line-height: 32px;
  color: $textColor;
  margin: 16px 12px;
}

h1 {
  font-size: 4rem;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
}

/* Used in docs */
h2 {
  line-height: 1.25;
}

a {
  color: $linkColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button,
button,
input[type=button] {
  border: 1px solid #1163c2;
  border-radius: 4px;
  color: #1163c2;
  height: 38px;
  font-size: 13px;
  line-height: 38px;
  letter-spacing: 0.1rem;
  padding: 0 30px;
  text-align: center;
  text-transform: uppercase;
}

li {
  margin-bottom: 1rem;
}

.sans-serif {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'avenir next',
    avenir,
    helvetica,
    'helvetica neue',
    ubuntu,
    roboto,
    noto,
    'segoe ui',
    arial,
    sans-serif;
}

.name,
.typestr,
.retType,
.CodeMirror,
.docindex,
pre,
.output,
code {
  font-family: 'Roboto Mono', monospace;
}

pre,
.output {
  white-space: pre-wrap;
  word-break: keep-all;
}

.splash {
  padding-bottom: 32px;
  background-color: $bodyBackground;
}

.explainer-container {
  background-color: #f0f0f7;
  border-top: 1px solid #cbcbd0;
  border-bottom: 1px solid #cbcbd0;
}

.explainer {
  padding: 4em 0;
}

.footer {
  width: 100%;
  padding: 48px 0;
  text-align: center;
  background-color: #fff;
}

/* Centers and gives max-width to index, references, notebook pages */
.splash,
.explainer,
.references,
.notebook {
  max-width: 960px;
  margin: 0 auto;
}

/* Column layout for screens wider than 550px, below that they stack. */
@media (min-width: 550px) {
  .explainer {
    display: flex;
  }

  .explainer-text,
  .explainer-notebook {
    flex-basis: 50%;
  }

  /* Right column has a left-margin only for min-width: 550px.
  At 550 the columns stack, so that margin then defaults to 0. */
  .explainer-notebook {
    margin-left: 4%;
  }
}

/* Don't allow SVGs to get wider than the screen. */
svg {
  max-width: 100%;
}

h1,
.doxindex {
  margin: 0;
  font-weight: 500;
}

.doc-entries {
  overflow-x: hidden;
  background-color: #f0f0f7;
}

.doc-entry {
  padding: 16px 0 16px 0;
  height: auto;
  padding-left: 0;
  border-top: 1px solid $bodyBackground;
  border-bottom: 1px solid $bodyBackground;
  margin-bottom: 16px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.doc-entry:target {
  background-color: #fafaff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 2px solid $linkColor;
  -webkit-box-shadow: 0 2px 2px 0 rgba(17, 99, 194, 0.3);
  -moz-box-shadow: 0 2px 2px 0 rgba(17, 99, 194, 0.3);
  box-shadow: 0 2px 2px 0 rgba(17, 99, 194, 0.3);
}

.snippet-global-header-title {
  font-weight: 500;
  margin-bottom: -8px;
}

.header-button {
  display: inline-block;
  margin: 0 10px 10px 0;
}

.button:hover {
  text-decoration: none;
}

header {
  background-color: $bodyBackground;
  border-bottom: 1px solid $textColor;
  color: $textColor;
  padding: 8px 0;
}

header p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 100;
  margin-top: -2px;
  margin-bottom: 0;
}

header h1 {
  margin: 16px 0 0 12px;
}

.panel {
  bottom: 0;
  height: auto;
  left: 0;
  top: 0;
  width: auto;
  padding: 8px 12px 32px 8px;
  background-color: $bodyBackground;
}

.panel h1 {
  font-size: 24px;
  line-height: 32px;
  border-bottom: 1px solid $textColor;
  padding-bottom: 8px;
  margin-bottom: 16px;
  letter-spacing: 0.1px;
}

.doc-entry > .typestr {
  font-size: 14px;
  line-height: 20px;
  color: #777;
  letter-spacing: 0.2px;
  font-weight: 200;
  margin-bottom: 16px;
  padding: 0 0 12px 12px;
}

@media (max-width: 960px) {
  .splash {
    padding-top: 0;
  }
}

@media (min-width: 600px) {
  .nav-buttons {
    text-align: left;
    padding-left: 12px;
  }

  .panel {
    bottom: 0;
    height: auto;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 240px;
    padding: 16px 12px 32px 8px;
    background-color: $bodyBackground;
  }

  .panel h1 {
    font-size: 24px;
    line-height: 32px;
    border-bottom: 1px solid $cellBackground;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }

  .doc-entries {
    margin-left: 244px;
    padding-left: 16px;
    max-width: auto;
  }

  .doc-entry {
    margin-left: 16px;
    margin-right: 16px;
  }

  .arg-global-header-title,
  .args {
    padding-left: 16px;
  }

  .doc-entry > .typestr {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    letter-spacing: 0.2px;
    font-weight: 200;
    margin-bottom: 16px;
    padding-bottom: 12px;
  }

  .args {
    list-style-type: none;
    padding-left: 16px;
  }
}

.docindex {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.docindex a {
  display: block;
  width: 100%;
  height: 28px;
}

.doc-entry > .name {
  font-size: 20px;
  color: $linkColor;
  letter-spacing: 0.2px;
  font-weight: 300;
  margin: 0;
  padding: 8px 0 4px 12px;
}

.doc-entry > .name > .source-link {
  font-size: 10px;
  color: #666;
}

.doc-entry .arg-global-header-title {
  font-weight: bold;
}

.doc-entry ol {
  margin: 0 16px;
}

.doc-entry .args .name::after {
  content: ": ";
}

/* notebook */

.nb-footer {
  text-align: center;
  padding: 0 16px;
}

.global-header {
  width: 100%;
  background-color: inherit;
}

.global-header-inner {
  display: flex;
  max-width: 930px;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
}

.global-header h1 {
  display: inline;
  font-size: 32pt;
  font-weight: bold;
}

.global-header h2 {
  display: inline;
  color: #589def;
  font-size: 16pt;
  font-weight: normal;
}

.global-header-title * {
  margin: auto 0;
  margin-right: 8px;
}

.global-header-title {
  display: flex;
  flex-direction: row;
}

.global-header-right {
  margin: auto 0;
}

::selection,
::-moz-selection {
  background: #00f;
  color: #fff;
}

.delete-row {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 4px;
  z-index: 100;
  button {
    border-radius: 100px;
    border: 0px;
    padding: 12px;
    color: $base6;
    background-color: transparent;
    background-image: url(/static/img/deleteButtonOutline.svg);
    height: auto;
    line-height: 8px;
    &:hover {
      background-image: url(/static/img/deleteButtonFill.svg);
    }
  }
}

.notebook-cell {
  margin: 24px 0;
}

.notebook-cell .input {
  white-space: pre;
}

.output {
  background-color: inherit;
}

.CodeMirror,
.notebook-cell .input > pre {
  border: 1px solid #eee;
  margin: 0;
  padding: 10px;
  white-space: pre-wrap;
}

/* Auto-resizing cells. */
.CodeMirror {
  height: auto;
  transition: border-left-color 1s;
}

.CodeMirror-focused {
  /* Color matches D3 lines. */
  border-left-color: $base0;
  transition: border-left-color 0s;
  background-color: rgba(88, 157, 239, 0.03);
  border-radius: 4px 4px 0 0;
}

.CodeMirror,
.notebook-cell .output,
svg {
  transition: border-left-color 0.5s;
  transition: background-color 0.5s ease;
}

.notebook-cell-running .CodeMirror {
  border-left-color: #dadaeb;
}

.notebook-cell-updating svg,
.notebook-cell-updating .output {
  background-color: #cbcbd0;
}

.buttons {
  text-align: right;
  border: 0;
  height: 32px;
  transition: height 0.2s ease-in-out;
  transition-delay: 0.1s;
  background-color: #f4f4f5;
  opacity: 0.5;
}

// When either the cell is in focus, or the button is in focus show the
// buttons. Note the transition above.
.buttons:focus,
.input.focus + .buttons, {
  opacity: 1;
}

.buttons button {
  z-index: 1;
  font-weight: 500;
  height: 32px;
  border: 0px;
  padding: 0 8px;
  margin: auto 0px;
  border-radius: 0px;
  letter-spacing: .15em;
  line-height: 32px;
  color: #9B9B9B;
  background: #f4f4f5;
    &:hover {
      color: $linkColor;
    }
}

buttons button.delete-button {
    color: inherit;
    &:hover {
      color: $base6;
    }
 }

.clone {
  background: $githubGreen;
  color: #fff;
  border: none;
}

.clone:hover {
  color: #fff;
  background: darken($githubGreen, 10%);
}

.most-recent ol {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.most-recent li {
  min-height: 200px;
  background: transparent;
  margin: 5px;
  box-shadow: -3px 2px 17px $base00;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.most-recent li:hover {
  background-color: $base2;
}

.most-recent .blurb {
  display: flex;
  height: 55px;
  border-bottom: 2px solid $base01;
  margin-bottom: 5px;
}

.most-recent .blurb img {
  border-radius: 90px;
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.most-recent li a,
.most-recent li p {
  color: $base03;
}

.docindex a:hover,
.docindex a:focus,
.docindex a:active {
  color: rgb(31, 119, 180);
  text-decoration: underline;
  background-color: $base1;
}

.most-recent li a:hover {
  text-decoration: none;
}

img.avatar {
  display: block;
  border-radius: 90px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 150px;
  margin-left: -100px;
  padding: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
