.references {
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-left: $size1;
    margin-top: $size2;
    margin-bottom: $sizeXS;
    padding-top: $size1;
  }

  &__details {
    margin-top: $sizeXS;
    margin-bottom: $size2;
  }
}