@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

.name,
.typestr,
.retType,
.CodeMirror,
.docindex,
pre,
.output,
code {
  font-family: 'Roboto Mono', monospace;
}

pre,
.output {
  white-space: pre-wrap;
  word-break: keep-all;
}

/* Don't allow SVGs to get wider than the screen. */
svg {
  max-width: 100%;
}

header,
.panel {
  border-top: 2px solid rgb(253, 141, 60);
}

.doc-entry {
  border-bottom: 1px solid #eee;
  padding: 50px 10px;
}

.doc-entry:target {
  border-left: 2px solid rgb(31, 119, 180);
}

header {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 2.25rem #9da5ab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

header * {
  margin: 10px auto;
}

header .button {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  min-width: 150px;
}

@media (min-width: 600px) {
  .panel {
    bottom: 0;
    box-shadow: 0 0 2.25rem #9da5ab;
    height: auto;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 20%;
  }

  .doc-entries {
    margin-left: 20%;
    max-width: 800px;
  }

  .doc-entry {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.notebook-cell {
  margin: 0;
}

.output {
  border-left: 2px solid #f5f5f5;
  padding: 10px;
  white-space: pre-wrap;
}

.CodeMirror {
  height: auto; /* Auto-resizing cells. */
  padding: 10px;
  background: #f5f5f5;
  border: 0;
  border-left: 2px solid #eee;
  transition: border-left-color 1s;
}

.CodeMirror-focused {
  /* Color matches D3 lines. */
  border-left-color: rgb(31, 119, 180);
  transition: border-left-color 0s;
}

.CodeMirror,
.output,
svg {
  transition: border-left-color 0.5s;
  transition: background-color 0.5s ease;
}

.notebook-cell-running .CodeMirror {
  border-left-color: #dadaeb;
}

.notebook-cell-updating svg,
.notebook-cell-updating .output {
  background-color: #dadaeb;
}

button.run-button {
  position: relative;
  float: right;
  bottom: 46px;
  right: 8px;
  opacity: 0.25;
  transition: opacity 0.25s;
  background: #fff;
  z-index: 3;
}

button.run-button:hover,
.CodeMirror-focused + button.run-button {
  opacity: 1;
}

.newCell {
  margin: 50px 10px;
}

.panel {
  background-color: #fff;
}

.docindex {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
.doxindex {
  margin: 0 10px;
}

.docindex a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.docindex li:hover {
  color: rgb(31, 119, 180);
  text-decoration: underline;
}

.doc-entry > .name,
.doc-entry > .typestr {
  font-size: inherit;
  font-weight: 900;
  margin: 0;
}

.doc-entry .arg-title {
  font-weight: bold;
}

.doc-entry ol {
  margin: 0;
}

.doc-entry .args {
  list-style-type: none;
  padding-left: 10px;
}

.doc-entry .args .name::after {
  content: ": ";
}

