/*
 * Light color scheme for Propel
 * Based on http://bl.ocks.org/WilliamQLiu/292ef433e312ac69ef14
 */

$bodyBackground: #fff;
$lightGrey: #fafafa;
$medGrey: #959595;
$darkGrey: #666;
$cellBackground: rgba(36, 126, 233, 0.03);
$cellBackgroundFocus: rgba(36, 126, 233, 0.1);
$textColor: #444;
$linkColor: #247ee9;
$base03: #002b36;
$base02: #073642;
$base01: #636363;
$base00: #657b83;
$base0: #247ee9;
$base0Dark: #0C4E9C;
$base1: #444;
$base2: #eee8d5;
$base3: #fdf6e3;
$base4: #fd8d3c;
$base5: #e6550d;
$base6: #dc322f;
$base7: #756bb1;
