/*
 * Light color scheme for Propel
 * Based on http://bl.ocks.org/WilliamQLiu/292ef433e312ac69ef14
 */

$bodyBackground: #fff;
$cellBackground: rgba(88, 157, 239, 0.03);
$textColor: #1d2936;
$linkColor: #1163c2;
$base03: #002b36;
$base02: #073642;
$base01: #636363;
$base00: #657b83;
$base0: #589def;
$base1: #000;
$base2: #eee8d5;
$base3: #fdf6e3;
$base4: #fd8d3c;
$base5: #e6550d;
$base6: #dc322f;
$base7: #756bb1;
