/* Dark color scheme for Propel */

$bodyBackground: #e4e4ea;
$cellBackground: #1d2936;
$textColor: $cellBackground;
$linkColor: #1163c2;
$base03: #283646;
$base02: #54d8c0;
$base01: #c4c4c4;
$base00: #adc8d2;
$base0: #86b9f5;
$base1: #ddd;
$base2: #eee8d5;
$base3: #fdf6e3;
$base4: #fee937;
$base5: #ff8240;
$base6: #ed4142;
$base7: #39adff;
